@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #333
}

.menu-items {
  position: fixed;
  display: flex;
  width: 100%;
  background: rgb(29, 44, 59);
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.menu-items li {
  list-style: none;
  padding: 1rem;
}
.menu-items a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.menu-items a:hover {
  border-bottom: 2px solid #f0f0e6;
}
.imagee {
  width: 100%
}
.image {
  display: block; 
  margin: auto; 
  max-width: 100%; 
  width: 20%;
}
.ckidka {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 20vh; 
  text-align: center; 
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #f0f0e6;
}
.ckidka1 {
  background-color: #416171;
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 20vh; 
  text-align: center; 
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #f0f0e6;
}

.gh{
  background-color: #416171;
  color: #4db823;
  font-size: 1.4rem;
  display: flex; 
  justify-content: center;
  text-align: center; 
  font-family: "Poppins", sans-serif;
}
.gh:hover{
  background-color: #416171;
  color: #ffffff;
  font-size: 1.4rem;
  display: flex; 
  justify-content: center;
  text-align: center; 
  font-family: "Poppins", sans-serif;
}


.image-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.image-container p{
  text-decoration: none;
  color: #f0f0e691;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.image-container b{
  text-decoration: none;
  color: #f0f0e6;
  font-size: 2.4rem;
  padding: 0.3rem;
}
.image-container button{
  border-radius: 25px;
  text-decoration: none;
  background-color: #4db823;
  color: #ffffff;
  font-size: 2rem;
  padding: 0.3rem;
  font-family: "Poppins", sans-serif;
  border-width: 0px;
  margin-bottom: 20px;
}
.image-container button:hover{
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  background-color: #3d3939;
  color: #ffffff;
  font-size: 2rem;
  padding: 0.3rem;
  font-family: "Poppins", sans-serif;
}
.del {
  font-size: 1.2rem;
  color: #808080;
}
.dal {
  font-size: 2.4rem;
  color: #4db823;
}
.news-container {
  background-color: #416171;
  display: flex;
  flex-direction: column;
}
.news-containe {
  display: flex;
  flex-direction: column;
}
.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.news-image {
  margin: 20px;
  width: 350px; 
  height: 220px; 
  margin-right: 30px;
}
.game-image {
  margin: 20px;
  width: 450px; 
  height: 300px; 
  margin-right: 30px;
}
.news-text {
  flex: 1; 
}
.contact {
  background: #1D2C3B;
  position: relative;
  height: 92vh;
}
.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #4db823;
  padding-bottom: 0.5rem;
}
.contact-content .mail {
  color: #f0f0e6;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}
.contact-content .links {
  color: #4db823;
  padding: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.contact-content a {
  text-decoration: none;
  color: #4db823;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}
.contact-content a:hover {
  color: #f0f0e6;
}

/* НОВОСТИ */
.news1 {
  background-color: #416171;
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 40vh; 
  text-align: center; 
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #f0f0e6;
}
/* Игры */
.nes1 {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 40vh; 
  text-align: center; 
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #f0f0e6;
}
h1 {
  text-align: center; 
  text-decoration: none;
  color: #f0f0e6;
  font-size: 2.2rem;
  padding: 0.3rem;
}
h2 {
  text-decoration: none;
  color: #4db823;
  font-size: 2.2rem;
  padding: 0.3rem;
}
.ugu{
  text-decoration: none;
  color: #4db8239c;;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.news12 {
  background-color: #416171;
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-bottom: -70px;
  height: 40vh; 
  text-align: center; 
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #f0f0e6;
}
.ghh{
  background-color: #416171;
  color: rgb(51, 51, 51);
  font-size: 1.4rem;
  display: flex; 
  margin-bottom: 20px;
  justify-content: center;
  text-align: center; 
  font-family: "Poppins", sans-serif;
}
.ghh:hover{
  background-color: #416171;
  color: #f0f0e6;
  font-size: 1.4rem;
  display: flex; 
  margin-bottom: 20px;
  justify-content: center;
  text-align: center; 
  font-family: "Poppins", sans-serif;
}

.OMG2 {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 40vh; 
  text-align: center; 
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #f0f0e6;
  background: #282f37;
}

.promo-section {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #282f37; 
  margin-bottom: 100px;
  
}
.promo-section2 {
  margin-top: 300px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #333; 
  margin-bottom: 100px;
}

.promo-content {
  font-family: "Poppins", sans-serif;
  max-width: 50%;
}
.promo-content2 {
  font-family: "Poppins", sans-serif;
  max-width: 50%;
}
.promo-content h1{
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding-left: 20px
}

.promo-content p{
  font-family: "Poppins", sans-serif;
  color: #808080;
  padding-left: 50px;
}
.promo-content2 p{
  font-family: "Poppins", sans-serif;
  color: #808080;
  padding-left: 50px;
}
.noter {
  font-family: "Poppins", sans-serif;
  font-size: 2.9rem;
  position: relative;
  padding-left: 30px
}
.promo-image {
  padding-right: 40px;
  max-width: 40%;
  height: auto;
  margin-bottom: 100px;
}

.buy-button {
  margin-left: 45px;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4db823; /* Цвет кнопки */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #3d3939; /* Цвет кнопки при наведении */
}

.fghhhh {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  text-decoration: none;
  color: #f0f0e691;
  font-size: 1.2rem;
  padding: 0.3rem;
}